@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Marcellus&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family-abril: "Abril Fatface", cursive;
  --font-family-marcellus: "Marcellus", serif;
  --font-family-poppins: "Poppins", sans-serif;
}

.loginPageMain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.signupPageMain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
