@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Marcellus&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  max-width: 1900px;
  margin: auto;
}
:root {
  --font-family-abril: "Abril Fatface", cursive;
  --font-family-marcellus: "Marcellus", serif;
  --font-family-poppins: "Poppins", sans-serif;
}

.loginPageMain {
  /* position: absolute; */
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: 1000;
}
.signupPageMain {
  /* position: absolute; */
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: 1000;
}
